MYMETA.json
MYMETA.yml
Makefile
blib/
pm_to_blib
re_base_extraction.patch
sa-awl
sa-check_spamd
sa-compile
sa-learn
sa-update
spamassassin
spamc/Makefile
spamc/config.h
spamc/config.log
spamc/config.status
spamc/spamc
spamc/spamc.h
spamc/version.h
spamd/spamd
t/log/
